.todo-list-template {
    background: white;
    width: 512px;
    box-shadow:  3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
    margin: 0 auto; /* 페이지 중앙 정렬 */
    margin-top: 4rem; /*윗단에서 얼마나 떨어뜨릴 건지*/
  }
  
  .title {         /*"오늘 할 일" title*/
    padding: 2rem; /* title 박스 크기*/
    font-size: 2.5rem; 
    text-align: center; /*"오늘 할 일" 위치 - start, end, left, right, center, justify, match-parent*/
    font-weight: 100; /*폰트 굵기*/
    background: #22b8cf;;
    color: white;
  }
  
  .form-wrapper {
    padding: 1rem; /*form-wrapper 박스 크기*/
    border-bottom: 1px solid #22b8cf; /*form-wrapper 아래 줄 line-width line-style color*/
  }
  
  .todos-wrapper {
    min-height: 5rem; /*todos-wrapper-todos 아래 빈 공간*/
  }